#textWrap {
    width: 90%;
    margin: auto;
}

h3 {
    color: #556D2E;
    font-weight: lighter;
}

p {
    color: #556D2E;
    text-align: left;
    font-weight: lighter;
}

body {
    margin: 2em;
}



