<div class="container">
  <div class="card-deck">
    <div class="row">
      <div class="card text-white col-md-6">
        <img class="card-img-top" src="../assets/kentucky-bluegrass.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Kentucky Bluegrass</h5>
          <p class="card-text">Cool-season grass - dark green color and dense, beautiful appearance, medium leaf texture with excellent leaf uniformity.
            Forms a strong sod via rhizomes.</p>
          <br>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
      <div class="card text-white col-md-6">
        <img class="card-img-top" src="../assets/zoysia.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Zoysia Grass</h5>
          <p class="card-text">Warm-season grass - leaf texture from fine to medium coarse - color ranges from light to medium green - forms a
            dense, low maintenance lawn - spreads by stolons and rhizomes - shoot growth rate is slow. Easy to maintain.</p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">
      <div class="card text-white col-md-6">
        <img class="card-img-top" src="../assets/st-augustine.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">St. Augustine Grass</h5>
          <p class="card-text">Warm-season grass - light to medium green color, coarse leaf texture, creeping growth habit, via stolons - robust,
            fast growing, establishes rapidly - level of maintenance is low to moderate.</p>
          <br>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
      <div class="card text-white col-md-6">
        <img class="card-img-top" src="../assets/tall-fescue.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Tall Fescue Grass</h5>
          <p class="card-text">Cool-season grass - medium to dark green color, moderate density - more extensive root system than any other cool-season
            turfgrass. Texture ranges from coarse to medium for newer turf-types. A bunch-type grass.</p>
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
  </div>
  
</div>