<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div id="header" [ngStyle]="{'background' : 'url(../assets/grassrootsHeader.jpg)'}">
  <h1>{{ title }}</h1>
  <br>
  <h2> {{slogan}} </h2>
  <br>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="navbar-brand" href="#">
              <img src="/assets/grass-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
              Grassroots Gardening
            </a>
        
        <ul class="navbar-nav mr-auto">

          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Products</a>
            </li>
        </ul>
      </div>
    </nav>


    <app-grassroots-products></app-grassroots-products>
    <app-grassroots-home></app-grassroots-home>
    <!--Footer-->
<footer class="page-footer font-small green pt-0">

    
   
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright: TAT TEAM
        
    </div>


</footer>
<!--/Footer-->
  