.homeTitle {
    font-size: 4em;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #598027;
}

.jumbotron {
    background-color:#598027;
    width: 90%;
    margin: auto;
    margin-top: 2em;
    color: white;
}

.panel {
    padding: 1em;
    width: 85%;
    margin: auto;
    background-color:#598027;
    border-radius: 5px;
    color: white;
}

.card-deck {
    width: 80%;
    margin: auto;
    margin-bottom: 5em;
}

.card {
    padding: 1em;
    background-color: #598027;
}