<div class="jumbotron">
  <h1>{{slogan}}</h1>
  <p>Premium grasses, and the lawncare to make you smile.</p>
</div>
<br>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{panelTitle}}</h3>
  </div>
  <div class="panel-body">
    <p>{{panelText}}</p>
  </div>
</div>
<br>

<div class="card-deck">
    <div class="card text-white bg-success">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">{{cardOneText}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card text-white bg-success">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>