<h1 class="homeTitle">{{title}}</h1>

<div class="jumbotron">
  <h1>{{slogan}}</h1>
  <p>Premium grasses, expert advice, friendly staff, and the lawn services to keep you smiling all summer.</p>
</div>
<br>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{panelTitle}}</h3>
  </div>
  <div class="panel-body">
    <p>{{panelText}}</p>
  </div>
</div>
<br>
<br>
<div class="card-deck">
    <div class="card text-white">
      <img class="card-img-top" src="./assets/greenGrass.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{cardOneTitle}}</h5>
        <p class="card-text">{{cardOneText}}</p>
        
      </div>
    </div>
    <div class="card text-white">
      <img class="card-img-top" src="./assets/lawnService.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{cardTwoTitle}}</h5>
        <p class="card-text">{{cardTwoText}}</p>
        
      </div>
    </div>
  </div>